// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'MontserratWeb', Montserrat, sans-serif !default;
// $root-size: calc(100% + 4 * (100vw - 600px) / 400) !default;

/// Basic font size
/// @type Length
$text-font-size: 1rem !default;

/// Header sizes
/// @type Length
$header-1: 1.75rem !default;
$header-2: 1.5rem !default;
$header-3: 1.25rem !default;
$header-4: 1.15rem !default;

/// Font weights
/// @type Weight
$light: 200;
$regular: 400;
$bold: 600;
$heavy: 900;

/// icon sizes
/// @type Length
$ico-size-s: 1.64rem;
$ico-size-m: 2.36rem;
$ico-size-l: 3.36rem;
$ico-size-xl: 7rem;

/// Nav height
/// @type Length
$nav-height: 4rem !default;

/// Basic colors
/// @type Color
$white: #fff !default;
$bright: darken($white, 2%) !default;
$grey: darken($white, 50%) !default;
$black: darken($white, 100%) !default;

/// Copy text color
/// @type Color
$text-color: lighten($black, 10%) !default;
$text-color-faded: transparentize($text-color, .36);

/// Main brand colors
/// @type Color
// $brand-color: #8e78ff !default;
$brand-color: #f4c741 !default;
$brand-color-lighter: lighten($brand-color, 15%) !default;
$brand-color-darker: darken($brand-color, 5%) !default;
$comp-color: #ff9d2a !default;
$accent-color: #606060 !default;
$alert-color: #db223a !default;
$accept-color: #11de87 !default;

$nav-color: $text-color !default;
$menu-icons-color: darken($brand-color, 20%) !default;
$menu-background-color: transparentize($text-color, .95) !default;

/// Background color
/// @type Color
$base-color: darken($white, 1%) !default;


/// Social media colors
$color-facebook: #365397;
$color-facebook-f: #365397;
$color-facebook-square: #365397;
$color-feed: #f26522;
$color-rss: #f26522;
$color-get-pocket: #ef4056;
$color-globe: #008bcf;
$color-google: #4285f4;
$color-google-plus: #dc4e41;
$color-google-plus-square: #dc4e41;
$color-instagram: #f56040;
$color-linkedin-square: #006db3;
$color-medium: #00ab6b;
$color-pinterest: #ce1a19;
$color-pinterest-p: #ce1a19;
$color-rss-square: #f26522;
$color-spotify: #2ebd59;
$color-tumblr: #304c68;
$color-tumblr-square: #304c68;
$color-twitch: #6441a5;
$color-twitter: #00a9f1;
$color-twitter-square: #00a9f1;
$color-vimeo: #48b6ed;
$color-vimeo-square: #48b6ed;
$color-vine: #00b488;
$color-vk: #45668e;
$wikipedia-w: #444;
$color-yelp: #c30f00;
$color-youtube: #f33;
$color-youtube-play: #f33;

// NOTE Colors: $text-color, $brand-color, $comp-color, $accent-color, $bright, $grey, $base-grey

/// Frames
$frame-color: darken($white, 8%) !default;
$frame-shadow: inset 0 0 1px rgba(0, 0, 0, .22) !default;
$frame-shadow-outside: 0 0 1px rgba(0, 0, 0, .22) !default;

/// Shadows
/// @type CSS
$shadow-1: 0 2px 4px rgba(0, 0, 0, .11) !default;
$shadow-2: 0 5px 10px rgba(0, 0, 0, .11) !default;
$shadow-3: 0 7px 16px rgba(0, 0, 0, .11) !default;

$shadow-1a: 0 2px 4px rgba(0, 0, 0, .22) !default;
$shadow-2a: 0 5px 10px rgba(0, 0, 0, .22) !default;
$shadow-3a: 0 7px 16px rgba(0, 0, 0, .22) !default;

$shadow-button: 0 4px 20px rgba(0, 0, 0, .16) !default;

$shadows: $shadow-1, $shadow-2, $shadow-3;
$shadows-heavy: $shadow-1a, $shadow-2a, $shadow-3a;

/// Consistent transition and helpers
/// @type CSS
$transition: .36s !default;
$transition-l: .64s !default;
$move-to-center: translate3d(-50%, -50%, 0) !default;

/// Container's maximum width
/// Below that is 100%
/// @type Length
$max-width: 1330px !default;

/// Grid widths
// $column: 8.3928571429%;
$column: 235 / 2800 * 100%;
$gutter-size: 100% * .0125 !default;
$cell-size: $column;
$cell-size--no-gutter: 100% / 12;
$grid: (
  '12': (100%),
  '11': ($cell-size * 11 - $gutter-size),
  '10': ($cell-size * 10 - $gutter-size),
  '9': ($cell-size * 9 - $gutter-size),
  '8': ($cell-size * 8 - $gutter-size),
  '7': ($cell-size * 7 - $gutter-size),
  '6': ($cell-size * 6 - $gutter-size),
  '5': ($cell-size * 5 - $gutter-size),
  '4': ($cell-size * 4 - $gutter-size),
  '3': ($cell-size * 3 - $gutter-size),
  '2': ($cell-size * 2 - $gutter-size),
  '1': ($cell-size - $gutter-size)
  ) !default;

$grid--no-gutter: (
  '12': (100%),
  '11': ($cell-size--no-gutter * 11),
  '10': ($cell-size--no-gutter * 10),
  '9': ($cell-size--no-gutter * 9),
  '8': ($cell-size--no-gutter * 8),
  '7': ($cell-size--no-gutter * 7),
  '6': ($cell-size--no-gutter * 6),
  '5': ($cell-size--no-gutter * 5),
  '4': ($cell-size--no-gutter * 4),
  '3': ($cell-size--no-gutter * 3),
  '2': ($cell-size--no-gutter * 2),
  '1': ($cell-size--no-gutter)
  ) !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: (
  'only-small': (max-width: 410px),
  'phone-tall': (min-width: 360px, orientation: portrait),
  'phone-long': (min-width: 360px, orientation: landscape),
  'phablet': (min-width: 410px),
  'tablet': (min-width: 736px),
  'desktop': (min-width: 1024px),
  'hd': (min-width: 1365px)
  ) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
