//
// Basic typography style for copy text
//

body {
  color: $text-color;
  font-family: $text-font-stack;
  font-size: $text-font-size;
  font-weight: $light;
  line-height: 1.5;
  counter-reset: section;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: .64rem 0 .36rem;
  line-height: 1.1;
  font-weight: $bold;

  &.brand-color {
    color: $brand-color-darker;
  }

  &:first-child {
    padding-top: 0;
  }

  &.headline {
    color: $brand-color-darker;
    line-height: 1.5;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    position: relative;


    &::after {
      @include size(5rem 2px);
      background-color: $brand-color-lighter;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
    }
  }

  [class^='rg-'],
  [class*=' rg-'],
  [data-icon] {
    display: block;
    text-align: center;
    margin: 1rem 0;

    &::before {
      font-size: $ico-size-l;
    }
  }
}

h1 {
  // color: $comp-color;
  font-size: $header-1;

  .content--small-type & {
    font-size: $header-2;
  }
}

h2 {
  font-size: $header-2;

  .content--small-type & {
    font-size: $header-3;
  }

  .content--terms-and-condition & {

    &::before {
      counter-increment: section;
      content: counter(section, upper-roman) '. ';
    }
  }
  .content--privacy-policy & {

    &::before {
      counter-increment: section;
      content: counter(section) '. ';
    }
  }
}

h3 {
  font-size: $header-3;

  .content--small-type & {
    font-size: $text-font-size;
  }
}

h4 {
  font-size: $text-font-size;

  .content--small-type & {
    font-size: .88rem;
  }
}

p,
li {
  font-size: 1rem;
  padding: 0;
  margin: 0 0 .64;
  line-height: 1.64;

  &:last-child {
    margin: 0;
  }

  .content--small-type & {
    font-size: .88rem;
  }

  .content--terms-and-condition & {
    @include respond-to('tablet') {
      text-align: justify;
    }
  }
  .content--privacy-policy & {
    list-style-type: none !important;
    @include respond-to('tablet') {
      text-align: justify;
    }
  }
}
a {
  .content--privacy-policy & {
    color: $black !important;
    &:hover {
      color: $brand-color!important;
    }
  }
}

strong {
  font-weight: $bold;
}

.light {
  font-weight: $light !important;
}
