// -----------------------------------------------------------------------------
// This file contains campaign declarations.
// -----------------------------------------------------------------------------

.layout__header--campaign {
  color: dynamic-color($white);
  background-color: $white;
  padding-left: 0;
  padding-right: 0;
  box-shadow: $shadow-3;
}

.cs__container {
  width: 100%;
  height: 80vw;
  margin: 0;
  padding-bottom: 3rem;
  overflow: hidden;

  @include respond-to('tablet') {
    height: 64vh;
  }
}

.cs__pagination {
  margin-top: 1.5rem;
  text-align: center;

  .swiper-pagination-bullet {
    height: auto;
    border-radius: 0;
    width: 2rem;
    margin: 0 1px !important;
    padding: 1rem 0;
    background-color: transparent !important;

    &::before {
      background-color: $text-color-faded;
      content: '';
      display: block;
      height: 2px;
      width: 2rem;
      border-radius: 1px;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: transparent;

    &::before {
      background-color: $comp-color;
    }
  }
}

.cs__item {
  @include display(flex);

  @include box-pack(center);

  @include box-align(center);

  @include justify-content(center);

  @include align-items(center);

  text-align: center;
  background-color: $white;
  width: 80vw;

  &.cs__item--video {
    background-color: $black;
  }

  .cslider__txt-content {
    padding: 1rem;
  }
}

.campaign__intro {
  padding: 1.64rem;

  .campaign__name {
    padding: 1.64rem 0;
    text-align: center;
  }

  .campaign__description {
    color: $text-color-faded;

    ul,
    ol {
      list-style-position: outside;
      margin: 0 0 0 1.1rem;
      padding: 0;

      li {
        margin: 0;
        padding: 0 0 .36rem 0;
      }
    }

    ul {
      list-style-type: disc;
    }

    ol {
      list-style-type: decimal;
    }
  }

  .link__toggle-more {
    padding: .36rem 1rem .36rem .64rem;
    margin-top: .64rem;
    color: $black;

    @include on-event {
      text-decoration: none;
    }


    [class^='rg'] {
      padding-right: .36rem;
    }
  }
}

.campaign__content {
  padding: 1rem 0;

  .content-list__header {
    padding-top: 2rem;
  }
}

// campaign__tasks__item
.campaign__tasks {
  @include display(flex);

  @include flex-flow(row wrap);

  position: relative;
  margin: calc(1rem - 1%);

  @include respond-to('tablet') {
    margin: calc(1rem - 1%) -0.5%;
  }


  > .campaign__tasks__item {
    @include flex(0 1 auto);

    // color: $white;
    border: 1px solid $frame-color;
    background-color: $white;
    width: calc(50% - 4px);
    height: 7rem;
    padding: .64rem;
    margin: 2px;

    .task__mission {
      color: $text-color-faded;
      display: block;
      font-size: .75rem;
    }

    .task__target {
      color: $text-color-faded;
      display: block;
      font-size: 1.25rem;
      font-weight: $bold;
    }

    .task__icon {
      @extend %social-logo;

      line-height: 1;
      display: block;
      font-size: 3rem;
      position: absolute;
      bottom: .64rem;
      right: .64rem;
    }

    @include respond-to('desktop') {
      width: calc(25% - 4px);
    }


    @include on-event {
      background-color: $brand-color;
      border-color: $brand-color;

      * {
        color: $white;
      }
    }
  }
}

// ---------------------------------------------------------
//  Main campaign tasks
// ---------------------------------------------------------
.campaign__priority {
  margin-top: 0 !important;
}

.list-item.priority__item {
  padding-bottom: $solo;
  width: $solo;

  @include respond-to('tablet') {
    padding-bottom: $half;
    width: $half;
  }

  @include respond-to('desktop') {
    width: $third;
    padding-bottom: $third;
  }

  .image--cover {
    opacity: 1;
  }

  @include on-event {
    .image--cover {
      opacity: .64;
    }
  }

  .doublesided__side-a {
    .doublesided__trigger {
      font-weight: $bold;
      text-transform: uppercase;
      letter-spacing: .05em;
    }
  }

  .doublesided__side-b {
    .doublesided__trigger {
      color: $text-color;
    }
  }

  &.priority--share {
    .priority--share__post-snippet {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      right: 1rem;
      line-height: 1.36em;
      padding: 1.5rem 0px;
    }

    .priority--share__post-preview {
      position: absolute;
      top: 1rem;
      left: 1rem;
      right: 1rem;
      padding: 0 0 0 4.64rem;
      width: calc(100% - 5rem);
    }

    .post-preview__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 4rem;
    }

    .post-preview__title {
      font-size: 1rem;
      line-height: 1.3em;
      color: $text-color-faded;
    }

    .post-preview__text {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      font-size: .8rem;
      line-height: 1.3em;
      color: $text-color-faded;
      max-height: 5 * 1.28em;
      overflow: hidden;
      text-overflow: ellipsis;
      opacity: .64;

      &::before {
        @include size(100% 1px);

        content: '';
        display: block;
        background-color: $frame-color;
        margin: 1rem 0;
      }
    }

    .priority--share__social-channels {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      right: 1rem;
      text-align: center;

      > div {
        display: inline-block;
      }
    }
  }

  &.priority--hashtag {
    .doublesided__side-b {
      padding-bottom: 4rem;

      .doublesided__trigger {
        color: $white;
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
    }

    .priority--hashtag__cta {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      right: 1rem;
      // text-align: center;
      // font-size: 1.25rem;
      line-height: 1.36;

      span {
        display: block;
        padding: 1.5rem 0;
        // margin-bottom: 1rem;
        // border-bottom: 1px solid rgba($white, 0.22);
      }

      // strong {
      //   //

      // }
    }

    .priority--hashtag__upload {
      margin: -1rem -1rem 0;

      // border-bottom: 1px solid  $frame-color;
      background-color: $accept-color;
      color: $white;

      &.cover__container {
        background-color: $black;
        box-shadow: none !important;
      }
    }

    .priority--hashtag__text {
      margin-top: .5rem;
    }

    .priority--hashtag__social-channels {
      @include display(flex);

      @include align-items(stretch);

      @include justify-content(space-between);

      position: absolute;
      bottom: 1rem;
      left: 1rem;
      right: 1rem;

      > div,
      > a {
        @include flex(0 1 auto);

        @include size(4rem);

        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.11);
        cursor: pointer;

        &:first-child {
          margin-left: 0;
        }

        span {
          display: block;
          text-align: center;
          font-size: $header-1;
          line-height: 4rem;

          &::before {
            color: $white;
            top: -.05em;
          }
        }
      }

      .social-channels__item {
        @include transform(translateZ(-1px));

        overflow: hidden;
        border-radius: 50%;

        &::before {
          @include transition(background-color 0.25s ease);

          background-color: rgba($white, 0);
          display: block;
          border-radius: 50%;
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -2.5rem;
          margin-top: -2.5rem;
          width: 5rem;
          height: 5rem;
        }

        &.item--active {
          position: relative;

          &::before {
            @include animation(toggleChannel 0.25s ease forwards);
          }

          &.item--facebook::before {
            background-color: $color-facebook;
          }

          &.item--twitter::before {
            background-color: $color-twitter;
          }

          &.item--google::before {
            background-color: $color-google-plus;
          }

          &.item--instagram::before {
            background-color: $color-instagram;
          }
        }

        @at-root {
          @include keyframes(toggleChannel) {
            0% {
              @include transform(scale(0));
            }

            100% {
              @include transform(scale(1));
            }
          }
        }

        span {
          //

        }
      }

      .priority--hashtag__share-button {
        background-color: $accept-color;

        span {
          padding: 0;
        }
      }
    }
  }

  &.priority--points {
    width: 100%;
    padding-bottom: $half;

    @include respond-to('phone-long') {
      width: $half;
      padding-bottom: $quart;
    }


    &::before,
    &::after {
      display: block;
      position: absolute;
      opacity: 1;
      width: calc(36% - 1rem);
      text-align: right;
    }

    &::before {
      content: '';
      top: -1px;
      right: -1px;
      bottom: -1px;
    }

    &::after {
      content: attr(data-text) ' ' attr(data-points);
      font-size: 1rem;
      font-weight: $bold;
      letter-spacing: -.036em;
      bottom: .5rem;
      right: 1rem;
    }

    &.cover__container {
      border: 0;

      .image--cover,
      &:hover .image--cover {
        opacity: 1;
      }
    }

    &.disabled {
      &::after {
        content: attr(data-text) ' ' attr(data-points);
      }

      .image--cover {
        // @include filter(grayscale(100%));
        opacity: .75 !important;
      }

      .list-item__name {
        opacity: .75;
      }
    }

    .list-item__name {
      font-size: 1.36rem;
      padding-right: 20%;
    }
  }
}

.campaign__social-feed {
  $spacing: 0.5;
  $spacing-pr: $spacing * 1%;
  $spacing-vw: $spacing * 1vw;

  > .social-feed__item {
    width: calc(50% - (#{$spacing-pr} * 2));
    height: calc(50vw - (#{$spacing-vw} * 2));
    min-height: 0;
    padding: .64rem;
    margin: $spacing-pr;

    // &:first-of-type,
    &:nth-of-type(5n+1) {
      width: calc(100% - 1%);
    }

    @include respond-to('tablet') {
      width: calc((100% / 3) - (#{$spacing-pr} * 2));
      height: calc((100vw / 4) - (#{$spacing-vw} * 3));

      &:nth-of-type(5n+1),
      &:nth-of-type(5n+2) {
        width: calc(50% - (#{$spacing-pr} * 2));
      }
    }


    @include respond-to('desktop') {
      width: calc((100% / 3) - (#{$spacing-pr} * 2));
      height: calc((100vw / 4) - (#{$spacing-vw} * 3));

      &:nth-of-type(5n+1),
      &:nth-of-type(5n+2) {
        width: calc(50% - (#{$spacing-pr} * 2));
      }
    }


    &.cover__container {
      border: 0;
    }

    .social-feed__text {
      display: block;
      font-size: .9rem;
      line-height: 1.3em;
      height: 7 * 1.3em;
      overflow: hidden;

      em {
        font-weight: $bold;
        font-style: normal;
      }
    }

    .social-feed__details {
      opacity: .9;
      display: block;
      font-size: .88rem;
      position: absolute;
      bottom: .64rem;
      left: .64rem;

      &::after {
        display: block;
        content: attr(data-timestamp);
        font-size: .75em;
        line-height: 1;
      }
    }

    .social-feed__icon {
      @extend %social-logo;

      font-size: 2rem;
      line-height: 1;
      position: absolute;
      bottom: .64rem;
      right: .64rem;
    }

    @include on-event {
      background-color: $brand-color;
      border-color: $brand-color;
      color: $white;
    }
  }
}

// Tasks variations ------------------------------------------------------------
.task--other {
  color: #f26522;

  .task__icon::before {
    @extend %reko-glyph;

    content: '\53';
    font-size: 3.36rem;
    line-height: .75;
    left: .25rem;
  }
}

.task--facebook {
  color: #365397;

  .task__icon::before {
    content: '\31';
  }
}

.task--rss {
  color: #f26522;

  .task__icon::before {
    content: '\33';
  }
}

.task--get-pocket {
  color: #ef4056;

  .task__icon::before {
    content: '\35';
  }
}

.task--globe {
  color: #008bcf;

  .task__icon::before {
    content: '\34';
  }
}

.task--google {
  color: #4285f4;

  .task__icon::before {
    content: '\36';
  }
}

.task--google-plus {
  color: #dc4e41;

  .task__icon::before {
    content: '\37';
  }
}

.task--instagram {
  color: #f56040;

  .task__icon::before {
    content: '\39';
  }
}

.task--linkedin-square {
  color: #006db3;

  .task__icon::before {
    content: '\30';
  }
}

.task--medium {
  color: #00ab6b;

  .task__icon::before {
    content: '\61';
  }
}

.task--pinterest {
  color: #ce1a19;

  .task__icon::before {
    content: '\62';
  }
}

.task--rss-square {
  color: #f26522;

  .task__icon::before {
    content: '\64';
  }
}

.task--spotify {
  color: #2ebd59;

  .task__icon::before {
    content: '\65';
  }
}

.task--tumblr {
  color: #304c68;

  .task__icon::before {
    content: '\66';
  }
}

.task--twitch {
  color: #6441a5;

  .task__icon::before {
    content: '\68';
  }
}

.task--twitter {
  color: #00a9f1;

  .task__icon::before {
    content: '\69';
  }
}

.task--vimeo {
  color: #48b6ed;

  .task__icon::before {
    content: '\6b';
  }
}

.task--vine {
  color: #00b488;

  .task__icon::before {
    content: '\6d';
  }
}

.task--vk {
  color: #45668e;

  .task__icon::before {
    content: '\6e';
  }
}

.task--wikipedia-w {
  color: #444;

  .task__icon::before {
    content: '\6f';
  }
}

.task--yelp {
  color: #c30f00;

  .task__icon::before {
    content: '\70';
  }
}

.task--youtube {
  color: #f33;

  .task__icon::before {
    content: '\73';
  }
}

// Social Feed channels -----------------------------------------------------------
.item--facebook {
  .social-feed__icon::before {
    content: '\31';
  }
}

.item--google-plus {
  .social-feed__icon::before {
    content: '\37';
  }
}

.item--instagram {
  .social-feed__icon::before {
    content: '\39';
  }
}

.item--medium {
  .social-feed__icon::before {
    content: '\61';
  }
}

.item--pinterest {
  .social-feed__icon::before {
    content: '\62';
  }
}

.item--tumblr {
  .social-feed__icon::before {
    content: '\66';
  }
}

.item--twitter {
  .social-feed__icon::before {
    content: '\69';
  }
}

.item--vimeo {
  .social-feed__icon::before {
    content: '\6b';
  }
}

.item--vine {
  .social-feed__icon::before {
    content: '\6d';
  }
}

.item--vk {
  .social-feed__icon::before {
    content: '\6e';
  }
}

.item--yelp {
  .social-feed__icon::before {
    content: '\70';
  }
}

.item--youtube {
  .social-feed__icon::before {
    content: '\73';
  }
}
