// Diary


.diary-entries {

}

.diary-entry {
  padding: 0 0 64%;
  margin-bottom: 0;

  & + & {
    margin-top: 0;
    margin-bottom: 0;
    border-top-color: $white;
  }

  &:last-child {
    margin-bottom: 1%;
  }

  @include respond-to('phablet') {
    &,
    & + &,
    &:last-child {
      width: (100% / 2 - 1%);
      border: 1px solid $frame-color;
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 36%;
      overflow: hidden;

      &::after {
        content:'';
        display: block;
      }
    }
  }
}

.diary-entry__timestamp {
  font-size: .88rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: .36;
}

.diary-entry__user {
  font-size: .88rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  line-height: 2rem;

  .user__avatar {
    @include size(2rem);
    display: inline-block;
    border-radius: 2rem;
    overflow: hidden;
  }
  .user__name {
    display: inline-block;
    font-weight: $bold;
    padding-left: .36rem;
  }
}

.diary-entry__content {
  position: absolute;
  top: 3.64rem;
  left: 1rem;
  right: 1rem;
}

.diary-entry__more {
  @include size(1.64rem);
  line-height: 1.64rem;
  cursor: pointer;
  display: block;
  color: $text-color;
  font-size: 1.5rem;
  opacity: .64;
  position: absolute !important;
  bottom: .64rem;
  right: 1rem;
  text-align: center;

  @include on-event {
    color: $text-color;
    opacity: 1;
  }
}
