.profile__welcome {
  padding-bottom: 1.64rem;
}

.profile__photo {
  padding: 1.64rem 1rem;
  position: relative;
  text-align: center;

  .profile__icon {
    background-color: $white;
    border-radius: 49%;
    bottom: 0;
    color: $brand-color;
    font-size: $ico-size-m;
    left: 0;
    line-height: 1;
    position: absolute;
    right: 0;
    top: 0;

    &::before {
      @include transform(translate(-50%, -50%) scale(1.36));

      left: 50%;
      position: absolute;
      top: 50%;
    }
  }
}

$pic-size: 36%;
$button-size: 3 * 1.36rem;

.profile__pic-container {
  border: 1px solid rgba(dynamic-color($brand-color), .05);
  border-radius: 49%;
  display: block;
  margin: 0 auto;
  position: relative;
  width: $pic-size;
  z-index: 1;

  @include respond-to('tablet') {
    width: $pic-size / 1.36;
  }

  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  + .profile__photo .profile__icon {
    opacity: 0;
  }
}

.profile__controls {
  @include transform(translate(-50%, -50%));
  @include transition(.36s);

  left: 50%;
  position: absolute;
  top: 50%;
  width: $button-size;
  z-index: 0;

  .profile__photo:hover &,
  .device--touch & {
    width: calc(#{$pic-size} + #{$button-size} * 3);
  }

  .button.button--icon {
    @include transform(translateY(-50%));

    display: block;
    position: absolute;
    top: 50%;

    &:nth-child(1) {
      left: 0;
    }

    &:nth-child(2) {
      right: 0;
    }
  }
}

.profile__hi {
  color: $white;
  position: relative;
}

.profile__focus-box {
  // margin-top: -10rem;
  padding: 0;

  > div {
    margin-top: 1rem;
  }

  + .content-list {
    clear: both;
  }
}

.focus--new-user {
  padding: 1rem;
  text-transform: uppercase;
}

.focus__tasks {
  font-size: $header-3;
  margin: -1rem;
  margin-top: 1rem;
  text-transform: none;

  li {
    border-top: 1px solid $frame-color;
    font-weight: $bold;
    max-height: 5rem;
    overflow: hidden;
    position: relative;

    .paint--brand & { border-color: darken($brand-color, 16%); }
    .paint--comp & { border-color: darken($comp-color, 16%); }
    .paint--accent & { border-color: darken($accent-color, 16%); }

    &::after {
      background-color: rgba($text-color, .11);
      bottom: 50%;
      content: '';
      display: block;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }

    &::before {
      background-color: $white;
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      top: 0;
      width: 0;
      z-index: -1;
    }

    a {
      color: inherit;
      display: block;
      margin-top: 0;
      padding: 1rem;
      text-decoration: none;

      @include on-event {
        background-color: rgba($brand-color-lighter, .11);
      }

      .ink {
        background-color: rgba($white, .36);
      }
    }

    [data-icon] {
      display: inline-block;
      opacity: .64;
      padding-right: .64rem;
      top: 10%;
    }
  }

  [data-complete] {
    animation: color-to-sky .36s .36s ease forwards, task-fold .64s 1.64s ease forwards;
    font-weight: $light;

    &::before {
      animation: task-complete 1s .64s ease forwards;
    }

    &::after {
      animation: fadein .64s 1.64s ease forwards;
      z-index: 0;
    }

    a {
      animation: correct-position 1s 1.64s ease forwards;
    }

    [data-icon] {
      opacity: 1;
    }
  }

  @at-root {
    @include keyframes(task-complete) {
      100% {
        width: 100%;
      }
    }

    @include keyframes(correct-position) {
      100% {
        transform: translateY(-2rem);
      }
    }

    @include keyframes(task-fold) {
      100% {
        border-top: 0;
        max-height: 0;
      }
    }

    @include keyframes(fadein) {
      100% {
        opacity: 1;
      }
    }

    @include keyframes(color-to-sky) {
      100% {
        color: $comp-color;
      }
    }
  }
}

// Campaign invitation focus box
.focus--new-campaign {
  background-color: $bright;
  color: $text-color;
  min-height: 18rem;
  padding: 4rem 1rem;
  position: relative;

  &::after {
    @extend %reko-glyph;

    content: '\69';
    font-size: 1.64rem;
    left: 1rem;
    opacity: .64;
    position: absolute;
    top: .64rem;
  }

  &::before {
    content: attr(data-label);
    display: block;
    font-size: .8em;
    left: 1rem;
    opacity: .64;
    position: absolute;
    text-transform: uppercase;
    top: 3rem;
  }

  .new-campaign__name {
    display: block;
    font-size: $header-1;
    font-weight: $bold;
    line-height: 1.36em;
    padding-right: 30%;
    padding-top: .64rem;
  }

  &.cover__container .button {
    @include transform(translate3d(-50%, 0, 0));

    bottom: 1rem;
    left: 50%;
    position: absolute !important;
  }

  // Cover images
  .image--cover {
    opacity: .5;

    &.cover--tall,
    &.cover--wide {
      height: auto;
      width: 110%;
    }
  }

  // Corect inc color
  &:not(.cover__container) .ink {
    background-color: rgba($brand-color, .22);
  }

  // Item has a cover image
  &.cover__container {
    background-color: $text-color !important;
    box-shadow: $shadow-1a;
    color: $white !important;

    &::before,
    &::after {
      opacity: .88;
      z-index: 1;
    }

    .new-campaign__name {
      position: relative;
    }
  }
}

// No items
.focus--no-items {
  color: $white;
  min-height: 18rem;
  padding: 4rem 1rem;
  position: relative;
  text-align: center;

  &::after {
    @extend %reko-glyph;

    content: '\32';
    font-size: 1.64rem;
    left: 1rem;
    opacity: .64;
    position: absolute;
    right: 1rem;
    top: .64rem;
  }

  &::before {
    content: attr(data-label);
    display: block;
    font-size: .8em;
    left: 1rem;
    opacity: .64;
    position: absolute;
    right: 1rem;
    text-transform: uppercase;
    top: 3rem;
  }

  .focus__name {
    display: block;
    font-size: $header-1;
    font-weight: $bold;
    line-height: 1.36em;
    padding-right: 0;
    padding-top: .64rem;
  }

  .button {
    @include transform(translate3d(-50%, 0, 0));
    bottom: 1rem;
    left: 50%;
    position: absolute !important;
  }

  // Cover images
  .image--cover {
    opacity: .5;

    &.cover--tall,
    &.cover--wide {
      height: auto;
      width: 110%;
    }
  }

  // Corect inc color
  &:not(.cover__container) .ink {
    background-color: rgba($brand-color, .22);
  }

  // Item has a cover image
  &.cover__container {
    background-color: $text-color !important;
    box-shadow: $shadow-1a;
    color: $white !important;

    &::before,
    &::after {
      opacity: .88;
      z-index: 1;
    }

    .focus__name {
      position: relative;
    }
  }
}

// Social Reach
.focus--social-reach {
  padding: 0;

  .social-reach__stats {
    @include align-items(stretch);
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(flex-start);

    border-top: 1px solid rgba($text-color, .05);
  }

  .stats__cell {
    @include flex(1);

    padding: 1rem;
  }

  .stats__cell--longform {
    @include flex(2);

    font-size: .75rem;
    line-height: 1.36em;
    opacity: .64;
  }

  .stats__val {
    display: block;
    font-size: $header-1;
    font-weight: $bold;
    line-height: 1em;
    padding-bottom: .36em;
  }

  .stats__name {
    display: block;
    font-size: .88rem;
    line-height: 1.1em;
  }

  .social-reach__icon {
    font-size: 1.5rem;
    padding: 0 .5rem;

    &:first-child {
      padding-left: 0;
    }
  }

  .roll-out--opened {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }

  .roll-out__content {
    @include display(flex);
    @include flex-flow(row wrap);

    padding: 0 !important;
    width: 100%;

    .social-reach__add-channel {
      @include flex(0 1 auto);

      color: rgba($text-color, .36);
      padding: .88rem;
      width: 50%;

      @include on-event {
        background-color: rgba($text-color, .05);
        color: $text-color;
      }

      @include respond-to('phone-long') {
        width: 25%;
      }

      @include respond-to('phablet') {
        width: (100% / 3);
      }

      @include respond-to('tablet') {
        width: 25%;
      }

      @include respond-to('desktop') {
        width: 20%;
      }
    }

    &::after {
      @include flex(0 1 auto);

      content: '';
    }

    .channel__icon {
      font-size: 1.5rem;
      padding: 0 .5rem 0 0;
    }

    .channel__name {
      display: inline-block;
      padding: .36rem 0;
      width: 64%;
    }
  }
}
