// -----------------------------------------------------------------------------
// This file contains sign in / register page styles.
// -----------------------------------------------------------------------------

.sign-form {
  padding: 0 $ico-size-s;

  .icon--logo {
    color: dynamic-color($brand-color);
    font-size: $ico-size-l;
    line-height: 1;
    padding: $ico-size-s 0;
    text-align: center;
  }
}
