// -----------------------------------------------------------------------------
// This file contains sign in / register page styles.
// -----------------------------------------------------------------------------

.sign-form {
  padding: 0 $ico-size-s;

  .icon--logo {
    padding: $ico-size-s 0;
    font-size: $ico-size-l; line-height: 1;
    text-align: center;
    color:$white;
    text-shadow: $shadow-1;
  }
}
