// -----------------------------------------------------------------------------
// This file contains style overrides based on template tags.
// -----------------------------------------------------------------------------

.template--intro {
  .splash {
    top: 50%; bottom: auto;
    @include transform(translateY(-50%));

    .splash__icon { padding-top: 0;}
  }
}

// :not(.template--profile--public),
.template--steps,
.template--profile,
.template--profile--empty {
  &.nav--transparent header:not(.scrolled):not(.nav--showMenu) { background: none; }
}

.template--steps {
  .nav__icon--inbox {display: none;}
}

.template--profile--empty {
  main {@include brand-gradient($image: 'backs/ph12.jpg'); min-height: 100vh;}
  .layout__header { background: none!important;}
}

.template--campaigns {
  .content-list__header:first-of-type:not(.cover__container) { @include brand-gradient($grain: 'grain-gold.jpg', $color: $accent-color); }
}
.template--polls {
  .content-list__header:first-of-type:not(.cover__container) { @include brand-gradient($grain: 'grain-pastelred.jpg', $color: $comp-color); }
}
