// -----------------------------------------------------------------------------
// This file contains style overrides based on template tags.
// -----------------------------------------------------------------------------

.template--intro {
  .splash {
    top: 50%; bottom: auto;
    @include transform(translateY(-50%));

    .splash__icon { padding-top: 0;}
  }
}


.template--steps {
  .nav__icon--inbox {display: none;}
}

.template--profile--empty {
  main {@include brand-gradient($image: 'backs/ph12.jpg'); min-height: 100vh;}
  .layout__header { background: none!important;}
}

.template--campaigns {
  // .content-list__header:first-of-type:not(.cover__container) { @include brand-gradient($grain: 'grain-gold.jpg', $color: $accent-color); }
}
.template--poll-list {
  // .content-list__header:first-of-type:not(.cover__container) { @include brand-gradient($grain: 'grain-pastelred.jpg', $color: $comp-color); }
  // .content-list__header:first-of-type:not(.cover__container) { @include brand-gradient($grain: 'grain-bright.jpg', $color: rgb(239, 243, 251)); }
}

.template--poll {
  main {
    min-height: 100vh;
    position: relative;
    padding-left: 2rem;
  }
  &.poll--end-screen {
    main { padding-left: 0;}
  }
}
