// -----------------------------------------------------------------------------
// This file contains style overrides based on template tags.
// -----------------------------------------------------------------------------

.template--full-width {
  .page__wrapper {
    max-width: none;
  }
}

.template--intro {
  padding: 0 !important;
  background-color: $brand-color;

  main {
    @include transition(none !important);
    left: 0 !important;
    width: 100% !important;
    padding-bottom: 0;
  }

  @at-root header nav a {
    @include on-event($scope: '.scope--outside.template--intro.device--no-touch') {
      color: $accent-color;
    }
  }

  .splash {
    @include transform(translateY(-50%));

    top: 50%;
    bottom: auto;

    .splash__icon {
      padding-top: 0;
    }
  }
}

.template--steps {
  .nav__icon--inbox {
    display: none;
  }
}

.template--notifications {
  h3 {
    padding: .64rem .64rem .36rem;
  }
}

.template--profile--empty {
  padding-bottom: 0;

  main {
    @include brand-gradient($image: 'backs/ph12.jpg');

    min-height: 100vh;
  }

  .layout__header {
    background: none !important;
  }
}

.template--profile {

  .layout__header {
    //
  }

  .focus__tasks li {
    font-size: 1.36rem;
  }

}

.template--campaigns {
  //
}

.template--poll-list {
  //
}

.template--poll {
  &.scope--inside.device--mobile main>section:first-of-type {
    padding-top: 0;
  }

  &.poll--end-screen {
    .poll__icon {
      color: $brand-color;
    }
  }
}

.template--plain {
  h2,
  h3,
  h4,
  h5 {
    padding-bottom: .64rem;
    margin-bottom: .36rem;
  }

  ol {
    margin: 0;
    padding: 0 0 1rem 1.36rem;

    li { padding-bottom: .64rem; }

    > li {
      list-style-type: decimal;

      > ol > li {
        list-style-type: lower-alpha;
      }
    }
  }
}
