@mixin button($back: $brand-color, $content: dynamic-color($back), $frame: .11, $p: 0, $face: rgba(dynamic-color($back), .05)) {
  $rounding: 4rem;
  $frame: 1 - $frame;

  @include appearance(none);
  @include backface-visibility(hidden);
  @include transform(translate3d(0, 0, 0));
  @include transition($transition);

  background-color: $face;
  border-radius: $rounding;
  border: 1px solid transparentize($content, $frame);
  box-shadow: 0;
  color: $content;
  cursor: pointer;
  display: inline-block;
  font-size: 1.36rem;
  font-weight: $regular;
  line-height: 1em;
  overflow: hidden;
  padding: 1.1rem 2rem;
  position: relative;
  text-align: center;
  white-space: nowrap;
  z-index: 1;

  .ink {
    background-color: transparentize($text-color, .88);
  }

  &.button--secondary {
    color: transparentize($content, .25);
  }

  &.button--cta {
    background-color: $white;

    .device--mobile & {
      background-color: $accept-color;
      color: $white;

      .ink {
        background-color: transparentize($white, .22);
      }
    }
  }

  & + & {
    // next to each other
    margin-left: .5rem;
  }

  &:only-child {
    @include transform(translate3d(-50%, 0, 0));

    margin: 0 0 0 50%;
    min-width: 50%;
  }

  @include on-event {
    background-color: $white;
    border-color: $white;
    box-shadow: $shadow-button;
    color: $text-color;
    outline: none;
    text-decoration: none;

    &.button--cta {
      color: $white;
      border-color: $accept-color;
      background-color: $accept-color;

      .ink {
        background-color: transparentize($white, .22);
      }
    }
  }

  [data-icon] {
    display: inline-block;
    font-size: 1.25em;
    line-height: 1;
    margin-bottom: -.3em;
    position: relative;
    top: -.1em;
  }

  &.button--icon {
    @include size(1.2rem * 3);
    padding: 0;

    [data-icon] {
      @include transform($move-to-center);

      left: 50%;
      position: absolute;
      top: 52%;
    }
  }
}

// Uses
button,
.button {
  // General
  @include button($face: transparentize($white, 1), $p: 0);

  .paint--brand &,
  .paint--gradient & {
    @include button($back: $brand-color, $p: 0, $face: transparentize($text-color, 1));
  }

  .paint--comp &,
  .paint--accent & {
    @include button($content: $white, $frame: 0);
  }

  // When on cover photo
  .cover__video &,
  .cover__container & {
    @include button($back: $black);
  }

  .layout__header & {
    @include button($content: $text-color, $p: 0, $face: transparent);
  }
}
