// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

@mixin button($back: $brand-color, $content: dynamic-color($back), $frame: .1, $p: 0px, $face: rgba(dynamic-color($back), .05)) {
  $rounding: 4rem;
  @include appearance(none);
  border: 1px solid rgba($content, $frame); display: inline-block; position: relative;
  overflow: hidden;
  background-color: $face;
  padding: 1.36rem 2rem;
  font-size: 1.36rem; line-height: 1em;
  border-radius: $rounding;
  color: $content;
  font-weight: $regular;
  box-shadow: 0;
  white-space: nowrap;
  z-index: 1;
  @include transform(translate3d(0, 0, 0));
  @include backface-visibility(hidden);
  @include transition($transition);

  .ink { background-color: rgba($text-color, .11); }

  &.button--secondary {
    color: rgba($content, .36);
  }
  &.button--cta {
    .ink { background-color: rgba($white, .22);}

    &:after {
      content: ''; display: block;
      position: absolute; top: 50%; left: 50%; @include transform(translate(-50%, -50%));
      background-color: rgb(35,240,170); border-radius: 100%;
      @include transition($transition);
      @include size(0);
      z-index: -1;
    }
  }

  & + & {
    // next to each other
    margin-left: .5rem;
  }

  &:only-child { min-width: 50%; }

  @include on-event {
    border-color: transparent;
    background-color: $white;
    box-shadow: $shadow-button;
    color: $text-color;
    text-decoration: none;
    outline: none;

    &.button--cta {
      color: $white;

      &:after {
        @include size(10rem);
      }
    }
  }

  [data-icon] { font-size: 1.25em; line-height: 1; display: inline-block; position: relative; top: -.1em; margin-bottom: -.3em;}

  &.button--icon {
    padding: 0; @include size((1.36rem * 3));

    [data-icon] { position: absolute; left: 50%; top: 52%; @include transform($moveToCenter);}
  }
}

// Uses
button, .button {
  // General
  @include button($face: rgba($white, 0), $p: 0px);

  // Paint related buttons
  .paint--brand &,
  [class^='paint--back-'] &,
  [class*=' paint--back-'] &,
  .paint--gradient & {
    @include button($back: $brand-color, $p: 0px, $face: rgba($text-color, .0));
  }
  .paint--comp &,
  .paint--accent & {
    @include button($content: $white, $frame: 0);
  }

  // When on cover photo
  .cover__container &, .layout__header & {
    @include button($content: $text-color, $frame: .11, $p: 0px, $face: transparent);
  }
}
