// -----------------------------------------------------------------------------
// This file contains all styles related to the content list of the application.
// -----------------------------------------------------------------------------

.content-list {
  position: relative;

  @include display(flex);

  @include flex-flow(row wrap);

  @at-root section#{&} {
    padding: 0 0 2rem 0;
    margin: calc(1rem - 1%);
  }
}

.content-list__header {
  // color: $brand-color;
  // padding-bottom: 26rem;
  text-align: center;
  overflow: hidden;
  position: relative;

  // + .content-list { margin-top: -23rem;}

  .content-list__header-icon {
    color: $text-color-faded;
    font-size: $ico-size-l;
    border-radius: 100%;
    line-height: $ico-size-m * 1.36;
    margin: .5rem auto 0;
  }

  .content-list__header-title {
    font-weight: $bold;
    color: $text-color-faded;
    letter-spacing: -.036em;
  }

  &:nth-child(n+2) .content-list__header-title {
    top: $ico-size-l;
  }
}

.list-sizer {
  display: none;
}

.list-item {
  @include flex(0 1 auto);
  @include transition(.36s);
  width: 100% - 2%;
  margin: 1%;
  display: block;
  background-color: $white;
  border: 1px solid $frame-color;
  color: $text-color;
  padding: 1rem;
  position: relative;
  min-height: 15rem;

  &[data-label] {
    padding: 3.5rem 1rem 1rem;
  }

  &[data-label]::after,
  &[data-label]::before {
    @include transition(.36s);
    display: block;
    // color: $accent-color;
    opacity: .64;
  }

  &[data-label]::after {
    @extend %reko-glyph;

    font-size: 1.64rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  &[data-label]::before {
    content: attr(data-label);
    text-transform: uppercase;
    font-size: .8em;
  }

  .list-item__name {
    @include transition(0s);
    display: block;
    font-weight: $bold;
    font-size: 1.3rem;
    line-height: 1.3em;
    padding-right: 2rem;
    padding-top: .5rem;
  }

  @include respond-to('ph-landscape' and 'phablet') {
    width: 100% / 2 - 1%;
    margin: .5%;
  }

  @include respond-to('tablet') {
    width: 100% / 3 - 1%;

    &:nth-child(5n+3) {
      width: 2 * 100% / 3 - 1%;

      .list-item__name {
        padding-right: 36%;
        font-size: 1.3rem;
      }
    }
  }


  @include respond-to('desktop') {
    width: 100% / 4 - 1%;
    margin: .5%;

    &:nth-child(5n+3) {
      width: 100% / 4 - 1%;
    }

    &:nth-child(5n+4) {
      width: 100% / 2 - 1%;

      .list-item__name {
        padding-right: 36%;
        font-size: 1.3rem;
      }
    }
  }


  // Cover images
  .image--cover {
    z-index: -1;
    opacity: .64;
  }

  // Types of items
  &.list-item--poll {
    &::after {
      content: '\74';
    }
  }

  &.list-item--campaign {
    &::after {
      content: '\69';
    }
  }

  &.list-item--promo {
    &::after {
      content: '\72';
    }
  }

  // Item has a cover image
  &.cover__container {
    background-color: $black;
    color: $white;

    &::before,
    &::after {
      opacity: .88;
      color: $white;
    }
  }

  // Desktop Hover
  @include on-event {
    @include transform(scale(1.036));
    text-decoration: none;
    color: $white;
    background-color: $brand-color;
    box-shadow: $shadow-2;

    z-index: 11;

    &::before,
    &::after {
      color: $white;
      opacity: 1;
    }

    &.cover__container {
      background-color: $brand-color-darker;
      color: $white !important;
      box-shadow: $shadow-2a;

      .image--cover {
        @include transform($move-to-center scale(1.25));
        opacity: .11;
      }
    }
  }
}

// Special case of two sides with a flip
.list-item--doublesided {
  @include perspective(1000px);
  padding: 0;
  background-color: transparent;
  border: 0;
  height: 12rem;

  .doublesided__trigger {
    cursor: pointer;
    line-height: 2rem;
    float: right;
    clear: both;

    span {
      line-height: 1;
      font-size: 1.5rem;
      display: inline-block;
      padding: .25rem;
    }
  }

  // General sides defs
  .doublesided__side-a,
  .doublesided__side-b {
    @include backface-visibility(hidden);
    background-color: $white;
    border: 1px solid $frame-color;
    padding: 1rem;
    text-decoration: none !important;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &[data-label] {
      padding: 3rem 1rem 1rem;
    }
  }

  // The flipping module
  .doublesided__flipper {
    @include transition(.6s);
    @include transform-style(preserve-3d);
    width: 100%;
    height: 100%;
    position: relative;
  }

  // Front Side
  .doublesided__side-a {
    @include transform(rotateY(0deg));
    z-index: 2;

    &[data-label]::after {
      @extend %reko-glyph;

      font-size: 1.64rem;
      position: absolute;
      top: 1rem;
      left: 1rem;
      opacity: .64;
    }

    &[data-label]::before {
      content: attr(data-label);
      display: block;
      text-transform: uppercase;
      font-size: .8em;
      opacity: .64;
    }

    &.cover__container {
      background-color: $text-color !important;
      color: $white !important;

      &[data-label]::before,
      &[data-label]::after {
        opacity: .88;
      }
    }
  }

  // List type icons
  &.list-item--poll {
    &::after {
      content: '';
      display: none;
    }

    .doublesided__side-a::after {
      content: '\74';
    }
  }

  &.list-item--campaign {
    &::after {
      content: '';
      display: none;
    }

    .doublesided__side-a::after {
      content: '\69';
    }
  }

  &.list-item--promo {
    &::after {
      content: '';
      display: none;
    }

    .doublesided__side-a::after {
      content: '\72';
    }
  }

  // Back side
  .doublesided__side-b {
    @include transform(rotateX(180deg));
    box-shadow: $shadow-3;
    border-color: $white;

    .list-item__description {
      color: $text-color;
      display: block;
      padding: .64rem 0;
      border: 1px solid rgba($text-color, .11);
      border-left: 0;
      border-right: 0;
    }
  }

  // What happens on event
  @include on-event {
    background-color: transparent;
    box-shadow: none;

    .doublesided__side-a,
    .doublesided__side-b {
      background-color: $white;
      box-shadow: $shadow-3;
    }
  }


  // Flip
  &.hover {
    z-index: 1;

    .doublesided__flipper {
      @include transform(rotateX(180deg));
    }
  }
}
