// -----------------------------------------------------------------------------
// This file contains images declarations.
// -----------------------------------------------------------------------------

.cover__container { overflow: hidden; }

.image--cover {
  width: 100%;
  position: absolute;
  top: 50%; left: 50%;
  @include transform($move-to-center scale(1.1));
  @include transition(transform $transition-l, opacity $transition);

  &.cover--width { height: auto; width: 100%; }
  &.cover--height { height: 100%; width: auto; }
}
