.modal__overlay {
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  background: rgba(0,0,0,.75);
  animation:show .64s ease-out;
  cursor: pointer;
  z-index: 1111
}
.modal__close-button {
  position: absolute;
  top: 90%; left: 50%;
  font-size: 5rem; color: $bright;
  @include transform(translate(-50%, -50%));
  cursor: pointer;
}
.modal__body {
  position: absolute;
  top: 50%; left: 50%; width: 90%;
  @include transform(translate(-50%, -50%));
  padding: .5rem; background-color: $white;
  box-shadow: $shadow-3a;
}
.modal__msg {}

@include keyframes(show) {
  0% {opacity: 0;}
  100% { opacity: 1; }
}
