$menu-width: calc(100% - 3.64rem);
$nav-padding: 0.15em 0.36em;

// General navigation styles
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: rgba($text-color, 0.64);
  text-decoration: none;
  display: block;

  @include on-event {
    text-decoration: none;
  }
}

// Mobile setup
.device--mobile {
  transition: padding .3s;

  &.content--to-side {
    header,
    main {
      @include transform(translate3d($menu-width, 0, 0));

      @include transition(transform 0.36s);
    }

    main {
      a,
      button {
        pointer-events: none;
      }
    }
  }

  &.nav--single {
    padding-top: $nav-height;
  }

  &.nav--double {
    padding-top: $nav-height * 2;
  }
}

// Nav bar inside the app
.scope--inside {
  $nav-transition: 'background-color .64s, box-shadow .36s, height .36s';

  // 3D Menu Trigger
  $cube: 1.36rem;

  .nav--primary,
  .nav--secondary {
    @include transition(unquote($nav-transition));

    // box-shadow: 0 1px 0 rgba($nav-color, .11);
    color: $nav-color;
    height: $nav-height;
    position: relative;
    z-index: 3;
  }

  // Helper nav
  .nav--secondary {
    @include transition(transform 0.36s, unquote($nav-transition));

    z-index: 2;
  }

  .nav--white &:not(.scrolled):not(.nav--show-menu) {
    .nav--primary,
    .nav--secondary {
      box-shadow: 0 1px 0 rgba($white, 0.22);
      color: $white;
    }
  }

  .nav__context {
    line-height: $nav-height;
    text-align: center;
  }

  // Nav icons (no text) definition
  [class^='nav__icon--'] {
    cursor: pointer;
    color: $nav-color;
    font-size: 1.64rem;
    padding: .5rem;
    position: absolute;
    top: 50%;

    // line-height: 1;

    &:focus,
    &:active {
      animation: blink .36s;
      outline: none;
    }
  }

  .nav__icon--back {
    @include transform(translate(0%, -50%));

    left: .5rem;
  }

  .nav__icon--logo {
    @include transform(translate(-50%, -50%));

    @include transition(opacity 0.36s);

    font-size: $nav-height / 2;
    left: 50%;
    opacity: .22;
  }

  .nav__icon--inbox {
    @include transform(translate(0%, -50%));

    @include size($nav-height - $cube);

    border-radius: 50%;
    line-height: 1;
    right: 1rem;
    overflow: visible;

    &::before {
      top: 0;
    }

    &.inbox--notify {
      &::before {
        content: '\4e';
      }

      &::after {
        @include transform(translate(-50%, -50%));

        @include animation(intro-scale 0.64s 0.36s $ease-out-back forwards, attention 10s 3s $ease-out-back infinite);

        background-color: $white;
        border: 5px solid $alert-color;
        border-radius: 10px;
        content: '';
        display: block;
        left: 50%;
        line-height: 0;
        margin-left: -25%;
        margin-top: -25%;
        padding: 0;
        position: absolute;
        top: 50%;
      }

      @at-root {
        @include keyframes(intro-scale) {
          0% {
            @include size(0);
          }

          100% {
            @include size(16px);
          }
        }


        @include keyframes(attention) {
          0% {
            @include size(16px);
          }

          5% {
            @include size(10px);
          }

          10% {
            @include size(18px);
          }

          11% {
            @include size(16px);
          }

          100% {
            @include size(16px);
          }
        }
      }
    }
  }

  .nav__menu-trigger {
    @include transition(0.36s);

    @include transform(translate(0%, -50%));

    height: $nav-height - $cube;
    border-radius: 50%;
    left: .5rem;
    outline: none;
    position: absolute;
    top: 50%;
    width: $nav-height - $cube;

    .helper__nav-cube-canvas {
      @include transform(translate(-5%, -50%) scale(0.5));

      @include perspective(5000px);

      height: 2 * $cube;
      left: 0;
      right: 0;
      line-height: 2 * $cube;
      position: absolute;
      top: 50%;
      width: 2 * $cube;
    }

    .nav__icon-cube {
      @include transform(translateZ($cube / 2) rotateX(0deg));

      height: 2 * $cube;
      position: absolute;
      transition: transform .36s .36s;
      width: 2 * $cube;
      transform-style: preserve-3d;
    }

    [class^='nav__icon--'] {
      font-size: 2.2 * $cube;
      padding: 0;
      top: 0;
      transition: opacity .36s .36s;

      &::before {
        top: 0;
      }
    }

    .nav__icon--menu-open {
      @include transform(translateZ(-$cube / 2) rotateX(0deg));

      opacity: 1;

      &::before {
        top: -.05em;
      }
    }

    .nav__icon--menu-close {
      @include transform(translateZ(0) rotateX(90deg));

      opacity: 0;
    }

    .content--to-side & .nav__icon-cube {
      @include transform(translateZ($cube / 2) rotateX(-90deg));

      .nav__icon--menu-open {
        opacity: 0;
      }

      .nav__icon--menu-close {
        opacity: 1;
      }
    }
  }

  // Nav states
  &.device--mobile .scrolled {
    .nav__menu-trigger,
    .nav__icon--inbox {
      background-color: $white;
      box-shadow: $shadow-2a;
    }

    .nav__icon--logo {
      opacity: 0;
    }
  }

  .hidden {
    @include transform(translate(0, -$nav-height));

    .nav--primary {
      box-shadow: none;
    }

    .nav--secondary {
      height: $nav-height - 0.64;
    }

    .nav__context {
      line-height: $nav-height - 0.64;
    }
  }

  .nav--show-menu {
    .nav--secondary {
      @include transform(translate(0, -$nav-height));
    }
  }
}

.nav__main-menu {
  .device--mobile & {
    background-color: $menu-background-color;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1rem 1rem 3rem;
    position: absolute;
    right: 100vw;
    width: $menu-width;
    -webkit-overflow-scrolling: touch;
  }

  .nav__position {
    margin: .11rem 0;
  }

  .nav__spacer {
    background-color: rgba(dynamic-color($brand-color), 0.11);
    height: 1px;
    margin: .64rem 0;
  }

  .nav__link {
    display: block;
    font-weight: $bold;
    padding: .36rem .64rem;
    text-transform: uppercase;

    @include respond-to('tablet') {
      font-size: .88rem;
    }


    @include on-event {
      color: $black;
    }


    &[class^='rg-']::before {
      color: $menu-icons-color;
      font-size: 1.64rem;
      margin-right: .64rem;
    }

    &.nav__link--tiny {
      font-size: .75em;
    }
  }

  .nav__account {
    @include clearfix;

    position: relative;
  }

  .nav__username {
    .nav__link {
      padding: 1rem .64rem;
    }

    .nav__link::after {
      content: attr(data-username);
      display: block;
      font-weight: $light;
      text-transform: none;
    }
  }

  .nav__avatar {
    @include transform(translateY(-50%));

    height: 4rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    width: 4rem;

    .nav__link--avatar {
      border-radius: 49% !important;
      box-shadow: $frame-shadow-outside;
      display: block;
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
      z-index: 1;

      img {
        @include transform(translate3d(-50%, 0, 0));

        display: block;
        left: 50%;
        position: absolute;
        top: -1%;
        width: 101%;
        z-index: -1;
      }
    }
  }
}

// Outside scope navigation
.scope--outside {

  nav a {
    padding: $nav-padding;
  }

  // Main Navigation
  .nav__main-menu--public {
    @include clearfix;

    display: block;
    padding: 1rem 0;
  }

  .main-menu--public__container {
    display: block;

    ul {}

    li {
      display: inline-block;
      margin: 0 1rem;
    }
  }

  .main-menu--public__left {
    display: none;
    float: left;

    @include respond-to('tablet') {
      display: block;
    }


    li {
      margin-left: 0;
    }
  }

  .main-menu--public__right {
    display: block;
    float: right;

    li {
      margin-right: 0;

      &:first-child {
        display: none;

        @include respond-to('phablet') {
          display: inline-block;
        }
      }
    }
  }

  .main-menu--public__logo {
    @include transform(translate(0, -50%));

    top: 53.6%;
    left: 1rem;
    display: block;
    position: absolute;
    font-size: 0;
    letter-spacing: -.015em;
    line-height: $ico-size-m;
    font-weight: $bold;

    @include respond-to('tablet') {
      @include transform(translate(-50%, -50%));

      left: 50%;
    }


    a::before {
      font-size: $ico-size-m;
    }
  }

  &.nav--transparent {
    header {
      z-index: 1;
    }

    main {
      z-index: 0;
      padding-top: 6rem;
      margin-top: -6rem;
    }
  }
}

// Footer navigation
.nav__footer-menu--public,
.nav__footer-menu--inside {
  @include clearfix;

  ul {}

  li {
    display: inline-block;
    margin: .15rem .5rem;

    @include respond-to('tablet') {
      margin: 0 .36rem;
    }
  }

  a {
    color: transparentize($white, 0.36);

    @at-root .nav__footer-menu--public a,
    .nav__footer-menu--inside a {
      @include on-event($scope: '.device--no-touch.scope--outside') {
        color: $white;
      }
    }
  }
}

.footer-menu--public--left,
.footer-menu--inside--left {
  display: block;

  @include respond-to('tablet') {
    float: left;

    li {
      margin-left: 0;
    }
  }
}

.footer-menu--public--right,
.footer-menu--inside--right {
  display: block;
  margin-top: 1rem;

  @include respond-to('tablet') {
    float: right;
    margin-top: 0;

    li {
      margin-right: 0;
    }
  }
}

.footer__copyright p {
  margin-top: 1rem;
  padding: $nav-padding;

  @include respond-to('phablet') {
    margin-top: 0;
  }
}
