// -----------------------------------------------------------------------------
// This file contains CSS classes for polls, questions and answer types.
// -----------------------------------------------------------------------------

// General template exceptions
.template--poll {
  main {
    position: relative;
    padding-left: 2rem;
  }
  &.poll--end-screen {
    main { padding-left: 0;}
  }
}

// End of poll screen
.poll__thankyou {

  // General media are
  .thankyou__media {}

  // Image
  .media__img {
    text-align: center;
    margin-bottom: .64rem;

    img {
      max-height: 75vh;
      border: .36rem solid $bright;
      box-shadow: $shadow-1;
    }
  }

  // Video
  .media__vid {
    position: relative;
    padding-bottom: (100% / (16/9));
    margin-bottom: .64rem;
    height: 0;
    overflow: hidden;
    box-shadow: $shadow-1;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: .36rem solid $bright;
    }
  }

  // Plain text
  .thankyou__text {
    padding: 1.36rem;
  }

  &.thankyou--swap {
    display: table;

    .thankyou__text { border-top: 1px solid rgba($text-color, .11);}
    .thankyou__media { display: table-footer-group;}
  }
}

// Poll info
.poll__info {
  body:not(.poll--end-screen) & {
    // color: $text-color;
    opacity: .22;
    padding: 0;
    position: absolute;
    top: 2.5rem; left: 1.5rem;
    line-height: 2rem;
    white-space: nowrap;
    text-align: right;
    @include transform(rotate(90deg));
    @include transform-origin(0% 50%);

    .help__flip { display: block; @include transform(rotate(180deg));}

    .poll__icon {
      display: inline;
      font-size: 2rem;
      padding-right: .36rem;
    }
    .poll__name {
      display: inline;
      font-weight: $bold;

      &:before {
        // Type of poll label
        content: attr(data-label); display: inline-block;
        padding-right: 1rem; text-transform: uppercase;
        font-weight: $light;
      }
    }
  }

  // End screen definitions
  .poll--end-screen & {
    text-align: center;

    .poll__icon {font-size: $ico-size-xl; padding: 1.64rem 0; line-height: 1;}
    .poll__name {font-size: $header-3; font-weight: $bold ;line-height: 1.3em; padding: .64rem 2rem;
      &:before {
        content: attr(data-label); display: block;
        text-transform: uppercase;
        font-weight: $light; font-size: $text-font-size;
        opacity: .36;
      }
    }
  }
}

.poll__question {
  padding-bottom: 0;

  // Text
  .question__name {
    font-size: 1.36rem; line-height: 1.5em;
    // color: $brand-color;

    &:before {
      // question number label
      content: attr(data-label); display: block;
      text-transform: uppercase;
      font-size: .64em; opacity: .22;
      // color: $text-color;
    }
    &:after {
      content: attr(data-extrainfo); display: block;
      text-transform: uppercase;
      font-size: .64em; opacity: .36;
      padding-top: 1em;
      // color: $text-color;
    }
  }

  // Image
  .question__img {
    text-align: center;
    margin-bottom: .64rem;

    img {
      max-height: 75vh;
      border: .36rem solid $bright;
      box-shadow: $shadow-1;
    }
  }

  // Video
  .question__vid {
    position: relative;
    padding-bottom: (100% / (16/9));
    margin-bottom: .64rem;
    height: 0;
    overflow: hidden;
    box-shadow: $shadow-1;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: .36rem solid $bright;
    }
  }
}

.poll__answers {
  h4 { padding-top: 0; padding-top:.64rem; }

  .answer {
    display: block;
  }
  .answer--pick {
    cursor: pointer;

    input[type=checkbox],
    input[type=radio] {
      display: none;

      + span {
        display: inline-block; overflow: hidden;
        font-size: 1.6rem;
        max-width: 0; margin-right: 0;
        @include transition(margin .64s, max-width .64s);
      }

      &:checked + span { max-width: 4rem; margin-right: .64rem; }
    }
    img { width: 100%; }
  }

  .answer--image {
    position: relative; display: inline-block; white-space: absolute;
    padding: 1rem; opacity: .75;

    &:hover { opacity: 1; }
    &.picked { padding: 0; opacity: 1; }
    &.disabled { opacity: .36; pointer-events: none; }

    input[type=checkbox],
    input[type=radio] {

      + span {
        display: block; position: absolute; padding: 2rem;
        top: calc(50% - 4rem); left: calc(50% - 4rem);
        overflow: auto; color: $white; line-height: 1;
        font-size: 4rem; max-width: none;
        @include transform(scale(0));
        @include transition(transform .64s);
        text-shadow: 0 0 4rem rgba(0,0,0,.64);
      }

      &:checked + span {
        @include transform(scale(1));
        max-width: none; margin-right: 0;
      }
    }
    img { -webkit-touch-callout: none !important; -webkit-user-select: none !important;}
  }

  .answer--input {}

  .answer--slider {
    label,
    input,
    select {
      @include appearance(none);
      display: inline;
      border:0; background: none; border-radius: 0;
      padding: 0; margin: 0;
      font-size: 1rem; line-height: 2em;
    }
  }

  &.poll__answers--grid .layout__group {
    position: relative;
    // @include align-items(stretch);
    @include display(flex);
    @include flex-flow(row wrap);
    @include justify-content(flex-start);

    & > .answer {
      @include flex(1);
      @include flex-basis(calc( ( 100% / 2 ) - 2px ));
      max-width: calc( ( 100% / 2 ) - 2px );
      margin: 1px;
    }
  }
}

// Drag and Drop Answers
.poll__drag-buckets {
  padding-top: 0;

  h4 { padding-top: 0; padding-top:.64rem; }

  .layout__group {
    position: static;
    & + & { margin-top: 1.64rem; }
  }
}
.drag-bucket--target,
.drag-bucket--source,
.sort-bucket--source {
  width: 100%;
  border: 1px dashed rgba(0,0,0,.22);
  padding: 1rem;

  &.get-ready {
    border: 1px solid rgba(0,0,0,.64);
  }

  &.has-content {
    padding: 0; border:0;

    .placeholder { display: none; }
  }
}

.answer--drag,
.answer--sort {
  display: block;
  @include transition(box-shadow .64s);

  span[data-icon] {
    position: absolute;
    right: 1rem; top: .75rem;
    font-size: 2rem; opacity: .36;
    cursor: all-scroll;
  }
}
.answer--sort__placeholder {
  min-height: 3rem;
  display: block;
}

// Matrix answer
.answer--matrix {
  th, td {
    border-right: 1px solid rgba($text-color, .05);
    font-size: .8rem; line-height: 1.3em;
    text-align: left;
    padding: .5rem;
    font-weight: $light;
  }
  th { font-weight: $regular; }
  tr:nth-of-type(even) {background-color: rgba($grey, .05); }

  thead { background-color: $white;
    th { font-size: 1rem; text-align: center; }
  }
  th:empty {padding: 0;}

  .matrix__questions { min-width: (100vw / 3); background-color: rgba($white, .36); }
  .matrix__answers {
    padding: 0; line-height: 1;

    .answer--slider { min-width: 10rem; padding: .5rem 1rem;}
    .answer--pick {
      padding: 2rem;

      line-height: 1;
      text-align: center;
      @include transition(background-color .36s, box-shadow .64s);

      input[type=checkbox],
      input[type=radio] {

        + span {
          position: absolute; top: 50%; left: 50%;
          @include transform(translate(-50%, -50%));

          display: block; overflow: visible; opacity: .1;
          font-size: 1.64rem; line-height: .9em;
          width: 1.36rem; height: 1.36rem;
          border-radius: 3rem; text-indent: -.1em;
          box-shadow: inset 0 0 0 1px rgba($text-color, 1);

          max-width: none; margin-right: 0;
          color: rgba($text-color, 0);
          @include transition(opacity .64s, color .36s, box-shadow .1s);
        }

        &:checked + span {
          box-shadow: inset 0 0 0 1px rgba($text-color, 0);
          color: $text-color;
          max-width: none; margin-right: 0;
          opacity: 1;
        }
      }
      &.picked {
        background-color: rgba($white, .64);
        box-shadow: inset 0 0 0 1px rgba($text-color, .02);
      }
    }
  }

  &.no-head {
    thead {display: none;}
  }
}

// Sticky headers on matrix
.sticky-wrap {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  margin: 3em 0;
  padding: 0;
  width: 100%;

  .sticky-thead, .sticky-col, .sticky-intersect {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    @include transition(all .36s $ease-out-quad);
    z-index: 100;
    width: auto;
    /* Prevent table from stretching to full size */
  }

  .sticky-thead {
    box-shadow: $shadow-3;
    z-index: 50;
    width: 100%;
    background-color: $white;
    /* Force stretch */
  }

  .sticky-intersect {
    opacity: 1;
    z-index: 150;
  }
  td, th {
    box-sizing: border-box;
  }
}

/* Not needed for sticky header/column functionality */

td.user-name {
  text-transform: capitalize;
}

.sticky-wrap.overflow-y {
  overflow-y: auto;
  max-height: 50vh;
}


// Poll navigation
.poll__nav {
  padding: 3rem; padding-top: 1rem;
  @include clearfix;

  .poll__nav--back { @include button($face: rgba(#fff, 0), $p:1px); padding-left: 1.36rem; padding-right: 1.36rem; float: left; }
  .poll__nav--forward { @include button($face: rgba(#fff, 0), $p:1px);  float: right; }

  // .poll__nav--back, .poll__nav--forward {
  //   @include transform(scale(1.36));
  // }
}
