// -----------------------------------------------------------------------------
// This file contains CSS classes for polls, questions and answer types.
// -----------------------------------------------------------------------------

// End of poll screen
.poll__thankyou {
  // General media are
  // .thankyou__media {}

  // Image
  .media__img {
    text-align: center;
    margin-bottom: .64rem;

    img {
      max-height: 75vh;
      border: .36rem solid $bright;
      box-shadow: $shadow-1;
    }
  }

  // Video
  .media__vid {
    position: relative;
    padding-bottom: 100% / (16 / 9);
    margin-bottom: .64rem;
    height: 0;
    overflow: hidden;
    box-shadow: $shadow-1;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: .36rem solid $bright;
    }
  }

  // Plain text
  .thankyou__text {
    padding: 1.36rem;
  }

  &.thankyou--swap {
    display: table;

    .thankyou__text {
      border-top: 1px solid rgba($text-color, .11);
    }

    .thankyou__media {
      display: table-footer-group;
    }
  }
}

// Poll info
.poll__info {
  body:not(.poll--end-screen) & {
    color: $text-color-faded;
    padding: .64rem .64rem 0 2.36rem;
    position: relative;
    line-height: 2rem;
    opacity: .36;

    .poll__icon {
      display: block;
      float: left;
      font-size: 1.25rem;
      line-height: 1rem;
      position: absolute;
      top: 1rem;
      left: .64rem;
    }

    .poll__name {
      display: block;
      font-size: .88rem;
      line-height: 1.36em;
      position: static;

      &::before {
        // Type of poll label
        content: attr(data-label);
        display: block;
        padding-right: 1rem;
        text-transform: uppercase;
        font-weight: $light;
        color: lighten($text-color-faded, 50%);
        font-size: .75rem;
        line-height: 1.25em;
      }
    }
  }

  // End screen definitions
  .poll--end-screen & {
    text-align: center;

    .poll__icon {
      font-size: $ico-size-xl;
      padding: 1.64rem 0;
      line-height: 1;
    }

    .poll__name {
      font-size: $header-3;
      font-weight: $bold;
      line-height: 1.3em;
      padding: .64rem 2rem;

      &::before {
        content: attr(data-label);
        display: block;
        text-transform: uppercase;
        font-weight: $light;
        font-size: $text-font-size;
        opacity: .36;
      }
    }
  }
}

.poll__question {
  padding-bottom: 2rem;

  // Text
  .question__name {
    font-size: 1.36rem;
    line-height: 1.5em;

    &::after {
      content: attr(data-extrainfo);
      display: block;
      text-transform: uppercase;
      font-size: .64em;
      line-height: 1.36;
      opacity: .36;
      position: relative;
      top: 2rem;
    }
  }


  // Rich media
  .question__media {
    border: 1px solid  $frame-color;
    position: relative;
    // padding-bottom: 100% / (16 / 9);
    padding-bottom: 78%;
    margin-bottom: .64rem;
    height: 0;
    overflow: hidden;

    img {
      @include transform(translate(-50%, -50%));
      position: absolute;
      top: 50%;
      left: 50%;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.poll__answers {
  h4 {
    padding-top: .64rem;
  }

  .answer {
    display: block;
  }

  .answer--pick {
    cursor: pointer;
    position: relative;
    padding-left: 2.64rem;

    [type=checkbox],
    [type=radio] {
      display: none;
    }

    > span {
      @include transition(color .25s);

      display: block;
      font-size: 2.1rem;
      line-height: 1;
      position: absolute;
      top: .64rem;
      left: .64rem;
      color: transparentize($text-color, .95);
      width: 1.36rem;
      height: 1.36rem;

      &::before {
        @include transform(translateY(-50%) translateX(-50%));
        margin-top: .05em;
        position: absolute;
        top: 50%;
        left: 50%;
      }
    }

    img {
      width: 100%;
    }

    &.picked {
      background-color: $brand-color-lighter;
      border-color: $brand-color;
      z-index: 10;

      span {
        color: $text-color;
      }
    }

    &.disabled {
      opacity: .36;
      pointer-events: none;
    }
  }

  .answer--image {
    border: 1px solid  $frame-color;
    display: inline-block;
    opacity: .75;
    padding: .5rem;
    position: relative;
    white-space: absolute;

    &:hover {
      opacity: 1;
    }

    &.picked,
    &:last-child.picked,
    + .picked {
      background-color: $white;
      border-color: transparent;
      opacity: 1;
      padding: 0;

      + .answer:not(.picked) {
        border-top-color: $frame-color;
      }
    }

    [type=checkbox],
    [type=radio] {
      + span {
        @include transform(translate(-50%, -50%));
        @include transition(opacity .36s);

        color: $white;
        display: block;
        font-size: 4rem;
        left: 50%;
        line-height: 1;
        opacity: 0;
        position: absolute;
        text-shadow: 0 0 4rem rgba(0, 0, 0, .64);
        top: 50%;
      }

      &:checked + span {
        max-width: none;
        margin-right: 0;
        opacity: 1;
      }
    }

    img {
      -webkit-touch-callout: none !important;
      user-select: none !important;
    }
  }

  .answer--input {
    //
  }

  .answer--slider {
    @include display(flex);
    @include flex-wrap(wrap);

    label,
    input,
    select {
      @include appearance(none);

      display: inline-block;
      border: 0;
      background: none;
      border-radius: 0;
      padding: 0;
      margin: 0;
      font-size: 1rem;
      line-height: 2em;
    }

    label {
      opacity: .64;
    }

    label + input,
    select {
      margin-left: .36em;
      width: 100%;
      flex: 1;
      color: $brand-color-darker;
    }

    .slider {
      width: 100%;
    }
  }

  &.poll__answers--grid .layout__group {
    @include display(flex);
    @include flex-flow(row wrap);
    @include justify-content(flex-start);

    position: relative;

    > .answer {
      @include flex(1);

      @include flex-basis(calc( ( 100% / 2 ) - 2px ));

      max-width: calc( ( 100% / 2 ) - 2px );
      margin: 1px;
    }
  }
}

// Drag and Drop Answers
.poll__drag-buckets {
  padding-top: 0;

  h4 {
    padding-top: .64rem;
  }

  .layout__group {
    position: static;

    & + & {
      margin-top: 1.64rem;
    }
  }
}

.drag-bucket--target,
.drag-bucket--source,
.sort-bucket--source {
  @include transition(border .1s, box-shadow .36s, padding-top .36s, padding-bottom .36s, background-color .64s);

  width: 100%;
  border: 1px dashed $frame-color;
  padding: 1rem;
  position: relative;


  .placeholder {
    @include transition(.36s);

    color: rgba($text-color, .36);
    overflow: hidden;
    max-height: 4rem;
    display: block;
    opacity: 1;
  }

  &.get-ready {;
    border: 1px solid $frame-color;
  }

  &.has-content {
    padding: 0;
    border: 0;

    &:not(.drag-bucket--source).get-ready {
      padding-top: 1rem;
    }

    .placeholder {
      max-height: 0;
      opacity: 0;
    }
  }
}

.answer--drag,
.answer--sort {
  @include transition(none !important);
  display: block;
  padding: 1rem;

  [data-icon] {
    position: absolute;
    right: 1rem;
    font-size: 1.64rem;
    line-height: 1;
    opacity: .36;
    cursor: all-scroll;
  }

  & + & {
    // border-top: 1px solid rgba(0, 0, 0, .05);
    // margin-top: 0;
  }
}

.answer--sort__placeholder {
  height: 3.5rem;
  margin-bottom: 1px;
  display: block;
}

// Matrix answer
.answer--matrix {
  margin-right: -.64rem;

  @include respond-to('tablet') {
    margin-right: 0;
  }


  @include respond-to('tablet') {
    table {
      table-layout: fixed;
    }
  }


  th,
  td {
    border-right: 1px solid rgba($text-color, .05);
    font-size: .8rem;
    line-height: 1.3em;
    text-align: left;
    padding: .5rem;
    font-weight: $light;
  }

  th {
    font-weight: $regular;
  }

  tr:nth-of-type(even) {
    background-color: rgba($grey, .05);
  }

  thead {
    background-color: $white;

    th {
      font-size: 1rem;
      text-align: center;
      vertical-align: bottom;
    }
  }

  th:empty {
    padding: 0;
  }

  .matrix__questions {
    min-width: (100vw / 3);
    background-color: rgba($white, .36);

    @include respond-to('tablet') {
      max-width: 100px;
    }
  }

  .matrix__answers {
    padding: 0;
    line-height: 1;

    .layout--card {
      background-color: transparent;
      border-color: transparent;
    }

    .answer--slider {
      min-width: (100vw / 2);
      padding: .5rem;

      select {
        font-size: .8rem;
      }

      @include respond-to('tablet') {
        min-width: 0;
      }
    }

    .answer--pick {
      @include transition(background-color .36s, box-shadow .64s);

      min-width: (100vw / 4);
      padding: 2rem;
      line-height: 1;
      text-align: center;

      [type=checkbox],
      [type=radio] {
        + span {
          @include transform($move-to-center);
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          overflow: visible;
          opacity: .1;
          font-size: 1.64rem;
          line-height: .9em;
          width: 1.36rem;
          height: 1.36rem;
          border-radius: 3rem;
          text-indent: -.1em;
          box-shadow: inset 0 0 0 1px rgba($text-color, 1);
          max-width: none;
          margin-right: 0;
          color: rgba($white, 0);

          @include transition(opacity .64s, color .36s, box-shadow .36s);
        }

        &:checked + span {
          box-shadow: none;
          color: $white;
          max-width: none;
          margin-right: 0;
          opacity: 1;
        }
      }

      @include respond-to('tablet') {
        min-width: 0;
      }

      &.picked {
        background-color: $brand-color;
      }

      @at-root .answer--matrix tr:nth-of-type(even) .matrix__answers .picked {
        background-color: darken($brand-color, 8%);
      }
    }
  }

  &.no-head {
    thead {
      display: none;
    }
  }
}

// Sticky headers on matrix
.sticky-wrap {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  margin: 3em 0;
  padding: 0;
  width: 100%;

  &.overflow-y {
    overflow-y: auto;
    max-height: 50vh;
  }

  .sticky-thead,
  .sticky-col,
  .sticky-intersect {
    @include transition(all .36s $ease-out-quad);

    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: auto;
    background-color: $white;

    // Prevent table from stretching to full size
  }

  .sticky-thead {
    box-shadow: $shadow-3;
    z-index: 50;
    width: 100%;

    // Force stretch
  }

  .sticky-intersect {
    opacity: 1;
    z-index: 150;
  }

  td,
  th {
    box-sizing: border-box;
  }
}

// Not needed for sticky header/column functionality

.user-name {
  text-transform: capitalize;
}

// Poll navigation
.poll__nav {
  @include clearfix;

  padding: 3rem 2rem;
  padding-top: 1.5rem;

  .poll__nav--back {
    @include button($face: rgba(#fff, 0), $p: 1px);

    padding-left: 1.36rem;
    padding-right: 1.36rem;
    float: left;
  }

  .poll__nav--forward {
    @include button($face: rgba(#fff, 0), $p: 1px);

    float: right;
  }
}
