// -----------------------------------------------------------------------------
// This file contains all styles related to the rollout component.
// -----------------------------------------------------------------------------
$padding-size: 1.36rem;
$font-size: 1.36rem;
$line-height: 1.5rem;
$rollout-height: (2 * $padding-size + $line-height);

.roll-out {
  padding: 0;

  .roll-out__trigger {
    color: $text-color;
    display: block;
    font-size: $font-size;
    height: $rollout-height;
    line-height: $line-height;
    padding: $padding-size;
    position: relative;

    .roll-out__value {
      display: inline-block;
      height: $line-height;
      width: 90%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &:empty { display: none; }
    }

    .roll-out__icon { position: relative; left: -.36em; color: $brand-color-darker;}
    .roll-out__name { display: inline; }
    .roll-out__value:not(:empty) + .roll-out__name { display: none; }
    .roll-out__status {
      @include transition($transition);
      @include transform(scale(1));

      position: absolute;
      top: $line-height;
      right: $padding-size;
    }

    @include on-event {
      .roll-out__status {
        @include transform(scale(1.64));
      }
    }
  }

  .roll-out__content {
    padding: 1rem;
    border-top: 1px solid rgba($text-color, .05);
  }

  // Rolled in
  &.roll-out__container {
    @include transition(.36s 0s $ease-in-out-cubic);

    overflow: hidden;
    max-height: $rollout-height;

    // Rolled out
    &.roll-out--opened {
      @include transition(.64s .11s $ease-in-out-cubic);

      max-height: 5000px;
      box-shadow: $shadow-button;
      background-color: $white;
      z-index: 3;

      .roll-out__status {
        @include transform(scale(1.64) rotate(-45deg));
      }

      @include on-event {
        .roll-out__status {
          @include transform(scale(1.64) rotate(-45deg));
        }
      }
    }
  }

  // Add border when in group
  .layout__group & {
    margin: 0 .64rem;

    @include respond-to('tablet') {
      margin: 0;
    }

    &:not(:nth-last-child(1)):not(.roll-out--opened) {
      border-bottom-color: $white;
    }
  }
}
