// -----------------------------------------------------------------------------
// This file contains splashscreens' declarations.
// -----------------------------------------------------------------------------

.splash {
  position: absolute;
  top: 0;left: 0;right: 0;bottom: 0;
  text-align: center;

  &.splash--force-white * { color: $white!important;}

  &:after {
    content: attr(data-extra);
    margin: auto;
    display: block;
    max-width: 64%;
  }

  .splash__icon {
    font-size: $ico-size-xl; line-height: 1;
    padding: 5rem 0 2rem;
  }
  .splash__message {}
  .splash__loader {
    display: inline-block;
    margin: 2rem 0 1rem;
    @include size(0% .36rem);
    background-color: $accent-color;
    border-radius: 1rem;
    @include animation(loader 3s forwards);

    .splash__loader.hide {
      @include animation(loader-hide 1s forwards);
    }

    @at-root {
      @include keyframes(loader) {
        0% { width: 0 }
        100% { width: 64%; }
      }
      @include keyframes(loader-hide) {
        100% { width: 0; height: 0; margin: 0; }
      }
    }
  }
}
