// -----------------------------------------------------------------------------
// This file contains the stepper component styles.
// -----------------------------------------------------------------------------

.stepper {

  .stepper__nav {
    @include display(flex);
    @include flex-flow(row nowrap);
    @include justify-content(center);
    padding: 1rem;

    li {
      @include flex(0 1 auto);
      margin: .1rem .36rem;
    }

    .stepper__nav-item {
      @include transform(scale(.5));
      @include size(1.5rem);
      display: block;
      background-color: $text-color;
      border-radius: 100%;
      opacity: .2;

      &.current {
        @include transform(scale(.64));
        opacity: 1;
        background-color: $comp-color;
      }

      @include on-event {
        @include transform(scale(1));
        opacity: 1;
        background-color: $comp-color;
      }
    }

  }
  .stepper__step-container {  }
  .stepper__header { text-align: center; padding: 1rem;}
  .stepper__content {
    padding: 1rem;

    @include respond-to('phone-tall') { padding: 1rem 0;}
  }

  &.stepper--intro {

  }
}
