// -----------------------------------------------------------------------------
// This file contains the stepper component styles.
// -----------------------------------------------------------------------------

.stepper {

  .stepper__nav {
    @include display(flex);
    @include flex-flow(row nowrap);
    @include justify-content(center);
    padding: 1rem;

    li {
      @include flex(0 1 auto);
      margin: .1rem .36rem;
    }

    .stepper__nav-item {
      display: block;
      background-color: $text-color;
      border-radius: 100%;
      opacity: .36;
      @include transform(scale(.5));
      @include size(1.5rem);

      &.current {
        opacity: .64;
        @include transform(scale(.64));
      }

      @include on-event {
        opacity: 1;
        @include transform(scale(1));
      }
    }

  }
  .stepper__step-container {  }
  .stepper__header { text-align: center; padding: 1rem;}
  .stepper__content {
    padding: 1rem;

    @include respond-to('ph-portrait') { padding: 1rem 0;}
  }

  &.stepper--intro {

  }
}
